force-app/main/default/flows/Activate_Deactivate_All_Group_Members.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Activate_All_Selected</name>
        <label>Activate All Selected</label>
        <locationX>330</locationX>
        <locationY>464</locationY>
        <assignmentItems>
            <assignToReference>isActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>successMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>All group members activated successfully!</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Activate_Deactivate_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Deactivate_All_Selected</name>
        <label>Deactivate All Selected</label>
        <locationX>623</locationX>
        <locationY>489</locationY>
        <assignmentItems>
            <assignToReference>isActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>successMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>All group members deactivated successfully!</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Activate_Deactivate_records</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ActivateAllChoice</name>
        <choiceText>{!ActivateAll}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>ActivateAll</elementReference>
        </value>
    </choices>
    <choices>
        <name>DeactivateAllChoice</name>
        <choiceText>{!DeactivateAll}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>DeactivateAll</elementReference>
        </value>
    </choices>
    <constants>
        <name>ActivateAll</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Activate All</stringValue>
        </value>
    </constants>
    <constants>
        <name>DeactivateAll</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Deactivate All</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_choice</name>
        <label>Check choice</label>
        <locationX>574</locationX>
        <locationY>344</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Activate_All</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActivateAllChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Activate_All_Selected</targetReference>
            </connector>
            <label>Activate All</label>
        </rules>
        <rules>
            <name>Deactivate_All</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DeactivateAllChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deactivate_All_Selected</targetReference>
            </connector>
            <label>Deactivate All</label>
        </rules>
    </decisions>
    <interviewLabel>Activate/Deactivate All {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Activate/Deactivate All Group Members</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Activate_Deactivate_records</name>
        <label>Activate/Deactivate records</label>
        <locationX>585</locationX>
        <locationY>667</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>groupId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsActive__c</field>
            <value>
                <elementReference>isActive</elementReference>
            </value>
        </inputAssignments>
        <object>StudentGroupMember__c</object>
    </recordUpdates>
    <screens>
        <name>Choose_Action</name>
        <label>Choose Action</label>
        <locationX>583</locationX>
        <locationY>205</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_choice</targetReference>
        </connector>
        <fields>
            <name>Action</name>
            <choiceReferences>ActivateAllChoice</choiceReferences>
            <choiceReferences>DeactivateAllChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>ActivateAllChoice</defaultSelectedChoiceReference>
            <fieldText>Action</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error</label>
        <locationX>406</locationX>
        <locationY>742</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success</label>
        <locationX>767</locationX>
        <locationY>745</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Message</name>
            <fieldText>&lt;p&gt;{!successMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Choose_Action</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>groupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isActive</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>successMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
