force-app/main/default/flows/CountDepartmentStudents.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Count_Group_Members</name>
        <label>Count Group Members</label>
        <locationX>176</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>activeGroupMembersCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>activeGroupMembers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Department</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Department_ID</name>
        <label>Get Department ID</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignmentItems>
            <assignToReference>departmentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Department__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Group_Members</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Count Department Students {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Count Department Students</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Group_Members</name>
        <label>Get Group Members</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Group_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Department__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>departmentId</elementReference>
            </value>
        </filters>
        <object>StudentGroupMember__c</object>
        <outputReference>activeGroupMembers</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Department</name>
        <label>Update Department</label>
        <locationX>176</locationX>
        <locationY>671</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>departmentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActiveStudents__c</field>
            <value>
                <elementReference>activeGroupMembersCount</elementReference>
            </value>
        </inputAssignments>
        <object>Department__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Department_ID</targetReference>
        </connector>
        <object>StudentGroupMember__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>activeGroupMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>StudentGroupMember__c</objectType>
    </variables>
    <variables>
        <name>activeGroupMembersCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>departmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
